:root {
    --screen-height: 100vh;
    --pic-width: clamp(450px, 30vw, 35vw);
    --form-width: 60vw;
    --background-color: #E1E1E1;
    --button-color: brown;
    --form-color: white;
    --left-margin: clamp(50px, calc(1vh + calc(1.5*1vw)), 30vh);
    --form-height: max(300px 40vw);
}

span {
    color: #e1e1e1;
}

body {
    display: flex;
    margin: 0;
}

.header, .footer, #middle-text {
    margin-left: var(--left-margin);
}

.header {
    margin-top: clamp(2vh, 7vh, 8vh)
}

#middle-text {
    margin-top: 0;
    margin-bottom:15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--form-width);
    height: var(--screen-height);
    background-color: var(--form-color);
}

form {
    height: var(--form-height);
    min-height: 250px;
}


.left-right {
    display: flex;

}

.input {
    display: flex;
    flex-direction: column;
    margin-left: var(--left-margin);
    margin-bottom: 10px;
}

#image-container {
    background-image: url(background-image.jpg);
    width: var(--pic-width);
    height: var(--screen-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-logo {
    background-color: rgba(0, 0, 0, 0.45);
    min-height: 250px;
    height: 30vh;
}

.image-text {
    padding-left: calc((var(--pic-width) / 2) - 14vh);
    color: white;
    margin-top: 0;
    


}


#header-container, #footer-container {
    background-color: var(--background-color);
    width: calc(100vw - var(--pic-width));

}

#header-container {
    height: 30vh;
    min-height: 250px;

}

#footer-container {
    box-shadow: 0px 5px 5px -2px rgb(193, 189, 189) inset;
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 8px 50px;
    border-radius: 8px;

    margin-left: var(--left-margin);
    margin-top: 2.5rem;
}

.footer {
    margin-top: 30px;
    margin-bottom: 20vh;
}