:root {
    --screen-height: 100vh;
    --pic-width: clamp(300px, 30vw, 35vw);
    --form-width: calc(100vw - var(--pic-width));
    --background-color: #E1E1E1;
    --button-color: brown;
    --form-color: white;
    --left-margin: clamp(50px, calc(1vh + calc(1.5*1vw)), 30vh);
    --form-height: max(300px 40vw);
}

span {
    color: #e1e1e1;
}

body {
    display: flex;
    margin: 0;
}

.header, .footer, #middle-text {
    margin-left: var(--left-margin);
}

.header {
    margin-top: clamp(2vh, 7vh, 8vh)
}

#middle-text {
    margin-top: 0;
    margin-bottom:15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--form-width);
    min-width: 300px;
    height: var(--screen-height);
    background-color: var(--form-color);
}

form {
    height: var(--form-height);
    min-height: 250px;
    min-width: 300px;
}


.left-right {
    display: flex;

}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: var(--left-margin);
    margin-bottom: 10px;
}

.input:focus {
    border: solid blue 1px;
}

#left-container {
    background-image: url(images/background-image.jpg);
    width: var(--pic-width);
    height: var(--screen-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-background {
    background-color: rgba(228, 142, 99, 0.45);
    height: 10vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    color: white;
    font-size: max(2vw, 2.5vw);
}

img {
    width: max(5vh, 7vh, 9vh, 10vh);
    height: max(5vh, 7vh, 9vh, 10vh);
    margin-right: 10px;
}

#header-container, #footer-container {
    background-color: var(--background-color);
    width: calc(100vw - var(--pic-width));
    min-width: 400px;
}

#header-container {
    height: 30vh;
    min-height: 200px;

}

#footer-container {
    box-shadow: 0px 5px 5px -2px rgb(193, 189, 189) inset;
}

#submit-button{
    background-color: var(--button-color);
    color: white;
    padding: 8px 50px;
    border-radius: 8px;
    margin-left: var(--left-margin);
    margin-top: 2.5rem;
}

#submit-button:hover {
    transform: scale(1.1);
    color: white;
    padding: 8px 50px;
    border-radius: 8px;
    margin-left: var(--left-margin);
    margin-top: 2.5rem;
}

#give-up {
    background-color: #6B6D6C;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    margin-left: var(--left-margin);
    margin-top: 2.5rem;
}

#give-up:hover {
    transform: scale(0.9);
}

.footer {
    margin-top: 30px;
    margin-bottom: 20vh;
}